@font-face {
    font-family: 'Futura';
    src: url('/public/fonts/Futura_Next/FuturaNext_DemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'Minion';
    src: url('/public/fonts/Minion/MinionPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}